<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Java_Web_Certification</display-name>
  <welcome-file-list>
    <welcome-file>Beer-v1/form.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Ch3 Beer</servlet-name>
    <servlet-class>com.example.web.BeerSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch3 Beer</servlet-name>
    <url-pattern>/Beer-v1/SelectBeer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.util.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>Cookie</servlet-name>
    <servlet-class>com.cookies.CreateCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie</servlet-name>
    <url-pattern>/Cookies/createCookies.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MyTestInit</servlet-name>
  	<jsp-file>/test/MyTestInit.jsp</jsp-file>
  	<init-param>
  		<param-name>email</param-name>
  		<param-value>rocky.bgta@gmail.com</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyTestInit</servlet-name>
  	<url-pattern>/TestInif.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>JSTL</servlet-name>
  	<servlet-class>com.controller.EL_JSTL_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JSTL</servlet-name>
  	<url-pattern>/jstlRequest</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Comment</servlet-name>
  	<servlet-class>com.controller.Comment_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Comment</servlet-name>
  	<url-pattern>/Comments</url-pattern>
  </servlet-mapping>
  
  
  
  <context-param>
    <param-name>breed</param-name>
    <param-value>Great Dane</param-value>
  </context-param>
  <listener>
    <listener-class>
  		com.listener.ContextListener
  	</listener-class>
  </listener>
  
  <listener>
    <listener-class>
  		com.listener.BeerSessionCounter
  	</listener-class>
  </listener>
  
  <listener>
    <listener-class>
  		com.listener.BeerAttributeListener
  	</listener-class>
  </listener>
</web-app>